
    {% extends "students/base.html" %}

    {% block title %}
    Delete {{ mark.student.fname }}'s marks
    {% endblock title %}

    {% block content %}
    <h2>Delete marks</h2>
    <p>Are you sua you want to delete this mark? This process is irreversible</p>
    <p>{{ mark.student.fname }} {{ mark.student.lname }}</p>
    <p>{{ mark.subject.name }} : {{ mark.score }}</p>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit">Yes</button>
         
    </form>
    <a href="{% url 'student_details' mark.student.id %}"><button type="submit">Cancel</button></a>
{% endblock %}