<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>Welcome the student marks mngmt system</h1>
    <p> This system allows you to manage student marks efficiently.</p>
    Select your option below to get started:


    
    <ul>
        <li><a href="{% url 'add_student' %}">Add Student</a></li>
        <li><a href="{% url 'add_marks' %}">Add student marks</a></li>
        <li><a href="{% url 'view_students' %}">View all student</a></li>
    </ul>

 
</body>
</html>