<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
</head>
<body>
    <h2>Available Students</h2>
    <table border="3">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Class</th>
                <th>Actions</th> 
                
            </tr>
        </thead>
        {% for student in students %}
                 <tr>
                <td>{{ student.fname }}</td>
                <td>{{ student.lname }}</td>
                <td>{{ student.student_class }}</td>
                <td>
                    <a href="{% url 'student_details' student.id %}">view marks</a>
                    <a href="{% url 'edit_student' student.id %}">Edit</a>
                    <a href="{% url 'delete_student' student.id %}">Delete</a>
                </td>
            </tr>

           
            {% endfor %}
    </table>
    <a href="{% url 'home' %}">Back to home</a>
</body>
</html>